<div class="content_ container">





    <app-menu></app-menu>
    <!-- <div class="text_home_title">
        &nbsp;
    </div> -->

    <ng-container *ngIf="id=='promotion'">
        <app-promotion></app-promotion>
    </ng-container>
    <ng-container *ngIf="id=='barcara'">
        <app-barcara></app-barcara>
    </ng-container>
    <ng-container *ngIf="id=='main'||id=='income'">
        <app-affiliate></app-affiliate>
    </ng-container>
    <ng-container *ngIf="id=='contact'||id=='register'||id=='deposit'||id=='withdraw'">
        <app-page></app-page>
    </ng-container>

    <div class="row" style="color: white;float: left; width: 100%;padding-top: 20px;">
        <div class="col-lg-12 col-md-12 col-sm-6 col-12 col sport_area how_to_regis">
            <div class="title_howto_regis">
                ขั้นตอนการสมัคร <label style="color:#FFF600;">BONANZA98</label>
            </div>
            <div class="row des_howto_regis">
                <div class="col-12">
                    <div class="left_side">1</div>
                    <div class="right_side" style="border-left:1px solid #FFF600;">
                        <div class="title_rs">
                            สมัครสมาชิก
                        </div>
                        <div class="des_rs">
                            กรุณากรอกเบอร์โทรศัพท์ของคุณให้ถูกต้อง
                        </div>
                    </div>
                </div>
                <div class="col-12" style="margin-top:10px">
                    <div class="left_side">2</div>
                    <div class="right_side" style="border-left:1px solid #FFF600;">
                        <div class="title_rs">
                            รอรับ SMS
                        </div>
                        <div class="des_rs">
                            กรอกเลข OTP ให้ถูกต้องพร้อมตั้งรหัสเข้าเล่น
                        </div>
                    </div>
                </div>
                <div class="col-12" style="margin-top:10px">
                    <div class="left_side">3</div>
                    <div class="right_side" style="border-left:1px solid #FFF600;">
                        <div class="title_rs">
                            ใส่เลขบัญชีและชื่อบัญชี
                        </div>
                        <div class="des_rs">
                            กรอกเลขบัญชีของคุณพร้อมชื่อให้ถูกต้องเข้าร่วมสนุกกับ Bonanza98 ได้ทันที
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-lg-12 col-md-12 col-sm-6 col-12 col sport_area image_howto_regis">
            <img src="/assets/images/content/howtoregis.png" alt="">
        </div>

    </div>
    <div class="row" style="color: white; margin-top:20px;float: left;">
        <div class="col-lg-12 col-md-12 col-sm-6 col-12 col">
            <img class="logo_bottom" src="/assets/images/logo/logo.png" alt="">
        </div>
        <div class="test_des_content">
            เว็บไซต์ที่ให้บริการ <span style="color: #FFF600;">พนันออนไลน์</span> อันดับหนึ่ง ให้บริการ <span style="color: #FFF600;">Bonanza98</span> แทงบอลออนไลน์ คาสิโนออนไลน์ มวยหวยไม่ผ่านเอเย่น เราให้บริการด้าน การเดิมพันแบบครบวงจร <span style="color: #FFF600">ตลอด 24 ชม. </span>            ด้วยประสบการณ์ในแบบ มืออาชีพในการให้บริการ บอลออนไลน์ ท่านจึงมั่นใจได้อย่างแน่นอนว่าเรา มั่นคง ซื่อสัตย์ จริงใจ ฝากถอน รวดเร็ว ทันใจ ภายใน 1 วินาที เรามีกิจกรรม พร้อมโปรโมชั่น เดิมพันพน้นออนไลน์ให้นึกถึง <span style="color: #FFF600;">Bonanza98.com</span>
        </div>
        <div class="test_des_content">
            สำหรับนัก<span style="color: #FFF600;">พนันบอลออนไลน์</span> หลายๆ ท่านคงจะพอคุ้นหูหรือทราบกันเป็นอย่างดี ชื่อเกี่ยวกับการให้บริการคาสิโนออนไลน์ภายใต้แบรนด์ดัง อันได้แก่ <span style="color: #FFF600;">Bonanza98.com </span> ยิ่งเป็นการตอกย้ำถึงคุณภาพเป็นอย่างดี
            เพราะมีบริษัทแม่รับรองโดยตรงนักพนันจึงเชื่อถือได้ เช่นเดียวกับ งานบริการที่อบรมจากเว็บตรง ให้บริการที่เป็นมิตร ที่นี่มีบริการครบวงจร และโปรโมชั่นที่ให้ได้มากกว่า
        </div>
        <div class="col-lg-12 col-md-12 col-sm-6 col-12 col">
            <img class="bank_bottom" src="/assets/images/content/bank.png" alt="">
        </div>
    </div>


</div>

<!-- <div _ngcontent-gyx-c3="" attr="https://lin.ee/3WytmJVY" class="qr-popup"><i _ngcontent-gyx-c3="" aria-hidden="true" class="fa fa-window-close fa-6 close-qr"></i></div> -->